.custom-class-navbar-bg {
    margin-bottom: 40px;
    background-color: gold !important;
}

.navbar-brand {
    color: #000;
}

.nav-link {
    color: #000;
}

.form-container {
    border-radius: 20px;
    background-color: gold;
    padding-left: 20px;
    padding-right: 20px;
}

.input-email {
    padding-top: 20px;
}

.input-question-box {
    padding-bottom: 20px;
}

.custom-button {
    margin-bottom: 20px;
    border: none;
    color: #000;
    background-color: snow;
}